In [1]:
import pandas as pd
import numpy as np

In [4]:
file = '../DATA/2023빅콘테스트_어드밴스드리그_예술의전당.csv'

In [5]:
artDF = pd.read_csv(file)

In [6]:
artDF.head()

,age,gender,membership_type_1,membership_type_2,membership_type_3,membership_type_4,membership_type_5,membership_type_6,tran_date,tran_time,...,ticket_cancel,discount_type,performance_code,pre_open_date,open_date,genre,place,running_time,intermission,member_yn
0,50.0,F,골드,무료,그린,NaN,NaN,NaN,20220114,1512,...,2,일반,302,20220114.0,20220115.0,교향곡,콘서트홀,120,15,Y
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20211003,1550,...,0,초대권,1120,NaN,20210823.0,독주,리사이틀홀,90,15,N
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20220917,1520,...,0,초대권,2283,20220911.0,20220911.0,독주,IBK챔버홀,80,15,N
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20190630,1132,...,0,초대권,2798,NaN,20190701.0,독주,리사이틀홀,90,15,N
4,50.0,M,무료,NaN,NaN,NaN,NaN,NaN,20220206,1615,...,0,일반,897,20220109.0,20220110.0,독주,콘서트홀,90,0,Y

In [7]:
# 장소는 콘서트홀, 할인형태가 공연진행석인 것은 제외
conDF = artDF[artDF['place'] == '콘서트홀']
conDF = conDF[conDF['discount_type'] != '공연진행석']
conDF.head()

,age,gender,membership_type_1,membership_type_2,membership_type_3,membership_type_4,membership_type_5,membership_type_6,tran_date,tran_time,...,ticket_cancel,discount_type,performance_code,pre_open_date,open_date,genre,place,running_time,intermission,member_yn
0,50.0,F,골드,무료,그린,NaN,NaN,NaN,20220114,1512,...,2,일반,302,20220114.0,20220115.0,교향곡,콘서트홀,120,15,Y
4,50.0,M,무료,NaN,NaN,NaN,NaN,NaN,20220206,1615,...,0,일반,897,20220109.0,20220110.0,독주,콘서트홀,90,0,Y
5,30.0,F,블루,무료,NaN,NaN,NaN,NaN,20181124,1145,...,2,블루회원 할인20%,528,20181119.0,20181119.0,교향곡,콘서트홀,100,15,Y
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20191020,1459,...,0,초대권,44,NaN,20191023.0,교향곡,콘서트홀,100,15,N
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20190613,954,...,0,초대권,827,20190602.0,20190602.0,교향곡,콘서트홀,120,20,N

In [8]:
conDF['genre'].isna().sum()

24844

In [9]:
# df1은 장르 결측된 데이터
df1 = conDF[conDF['genre'].isna()]

In [10]:
# df2는 장르 결측 안된 데이터
df2 = conDF.dropna(subset = ['genre'])

In [11]:
# df1와 df2의 공연날짜 중 같은 날을 찾는다. 이 날에 했던 공연 결측 데이터를 채울 수 있다. 
set(df1['play_date']) & set(df2['play_date'])

{20190714, 20210101, 20221120}

In [12]:
# df1와 df2의 같은 공연날짜에는 공연이 한 번 있었다.
for date in set(df1['play_date']) & set(df2['play_date']):
    print(set(df2[df2['play_date'] == date]['play_st_time']), set(df2[df2['play_date'] == date]['genre']))

{1400} {'교향곡'}
{1400} {'클래식'}
{1930} {'클래식'}

In [13]:
for i in conDF.index:
    if conDF['play_date'][i] == 20190714:
        conDF.loc[i, 'genre'] = '교향곡'      
    elif conDF['play_date'][i] == 20210101:
        conDF.loc[i, 'genre'] = '클래식' 
    elif conDF['play_date'][i] == 20221120:
        conDF.loc[i, 'genre'] = '클래식'

In [14]:
conDF[conDF['play_date'] ==20190714]['genre'].isna().sum()

0

In [15]:
conDF[conDF['play_date'] ==20210101]['genre'].isna().sum()

0

In [16]:
conDF[conDF['play_date'] ==20221120]['genre'].isna().sum()

0

In [17]:
conDF['genre'].isna().sum()

18977

In [18]:
conDF = conDF.dropna(subset = ['genre'])

In [19]:
conDF['genre'].isna().sum()

0

In [20]:
# 원본 데이터에서 장소가 콘서트홀이고 할인형태가 공연진행석인 것 그리고 장르가 결측된 샘플 중 일부 제외하고 나머지를 추출하여 csv파일로 변환
conDF.to_csv('conDF.csv', index = False)

In [ ]:
y_conDF = conDF[conDF['member_yn'] == 'Y']
n_conDF = conDF[conDF['member_yn'] == 'N']

In [ ]:
y_conDF.head()

,age,gender,membership_type_1,membership_type_2,membership_type_3,membership_type_4,membership_type_5,membership_type_6,tran_date,tran_time,...,ticket_cancel,discount_type,performance_code,pre_open_date,open_date,genre,place,running_time,intermission,member_yn
0,50.0,F,골드,무료,그린,NaN,NaN,NaN,20220114,1512,...,2,일반,302,20220114.0,20220115.0,교향곡,콘서트홀,120,15,Y
4,50.0,M,무료,NaN,NaN,NaN,NaN,NaN,20220206,1615,...,0,일반,897,20220109.0,20220110.0,독주,콘서트홀,90,0,Y
5,30.0,F,블루,무료,NaN,NaN,NaN,NaN,20181124,1145,...,2,블루회원 할인20%,528,20181119.0,20181119.0,교향곡,콘서트홀,100,15,Y
11,50.0,F,무료,NaN,NaN,NaN,NaN,NaN,20191005,1417,...,0,K-lang 멤버십 회원(1인2매)20%,315,NaN,20191005.0,오페라,콘서트홀,120,15,Y
15,50.0,M,골드,무료,NaN,NaN,NaN,NaN,20221030,1645,...,2,일반,2631,20221105.0,20221030.0,교향곡,콘서트홀,120,20,Y

In [ ]:
n_conDF.head()

,age,gender,membership_type_1,membership_type_2,membership_type_3,membership_type_4,membership_type_5,membership_type_6,tran_date,tran_time,...,ticket_cancel,discount_type,performance_code,pre_open_date,open_date,genre,place,running_time,intermission,member_yn
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20191020,1459,...,0,초대권,44,NaN,20191023.0,교향곡,콘서트홀,100,15,N
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20190613,954,...,0,초대권,827,20190602.0,20190602.0,교향곡,콘서트홀,120,20,N
9,NaN,F,블루,무료,NaN,NaN,NaN,NaN,20190703,908,...,0,일반,1528,NaN,20190413.0,클래식,콘서트홀,100,15,N
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20220624,1618,...,2,일반,2344,20220430.0,20220430.0,교향곡,콘서트홀,110,15,N
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20200511,914,...,0,초대권,2778,20200403.0,20200406.0,교향곡,콘서트홀,120,15,N

In [ ]:
# conDF에서 예술의 전당 회원 여부별로 추출하여 csv파일로 변환
y_conDF.to_csv('y_conDF.csv', index = False)
n_conDF.to_csv('n_conDF.csv', index = False)

In [ ]:
file = '../DATA/conDF.csv'

In [ ]:
conDF = pd.read_csv(file)
conDF.head()

,age,gender,membership_type_1,membership_type_2,membership_type_3,membership_type_4,membership_type_5,membership_type_6,tran_date,tran_time,...,ticket_cancel,discount_type,performance_code,pre_open_date,open_date,genre,place,running_time,intermission,member_yn
0,50.0,F,골드,무료,그린,NaN,NaN,NaN,20220114,1512,...,2,일반,302,20220114.0,20220115.0,교향곡,콘서트홀,120,15,Y
1,50.0,M,무료,NaN,NaN,NaN,NaN,NaN,20220206,1615,...,0,일반,897,20220109.0,20220110.0,독주,콘서트홀,90,0,Y
2,30.0,F,블루,무료,NaN,NaN,NaN,NaN,20181124,1145,...,2,블루회원 할인20%,528,20181119.0,20181119.0,교향곡,콘서트홀,100,15,Y
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20191020,1459,...,0,초대권,44,NaN,20191023.0,교향곡,콘서트홀,100,15,N
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20190613,954,...,0,초대권,827,20190602.0,20190602.0,교향곡,콘서트홀,120,20,N

In [ ]:
len(conDF)

1065468

In [ ]:
conDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1065468 entries, 0 to 1065467
Data columns (total 24 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   age                473901 non-null   float64
 1   gender             474222 non-null   object
 2   membership_type_1  474222 non-null   object
 3   membership_type_2  381791 non-null   object
 4   membership_type_3  138040 non-null   object
 5   membership_type_4  24805 non-null    object
 6   membership_type_5  1104 non-null     object
 7   membership_type_6  0 non-null        float64
 8   tran_date          1065468 non-null  int64
 9   tran_time          1065468 non-null  int64
 10  play_date          1065468 non-null  int64
 11  play_st_time       1065468 non-null  int64
 12  seat               1065468 non-null  object
 13  price              1065468 non-null  int64
 14  ticket_cancel      1065468 non-null  int64
 15  discount_type      1065468 non-null  object
 16  performance_code   1065468 non-null  int64
 17  pre_open_date      674926 non-null   float64
 18  open_date          1065468 non-null  float64
 19  genre              1065468 non-null  object
 20  place              1065468 non-null  object
 21  running_time       1065468 non-null  int64
 22  intermission       1065468 non-null  int64
 23  member_yn          1065468 non-null  object
dtypes: float64(4), int64(9), object(11)
memory usage: 195.1+ MB

In [ ]:
conDF['genre'].isna().sum()

0

In [ ]:
conDF['price'].isna().sum()

0